* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #5a4fcf, #6495ed);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Geneva, Verdana, sans-serif;
}

.box-tempo {
  text-align: center;
  padding: 30px 0px;
  background-color: #2a52be;
  border-radius: 60px;
  box-shadow: 5px 10px 10px #222222;

  width: 30%;
}

.box-tempo,
input,
h3,
h4,
p {
  margin: 10px;
}

#buscar-cidade {
  padding: 10px;
  font-size: 1.25em;
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.6s ease;
}

#buscar-cidade:focus {
  outline: none;
  box-shadow: 6px 6px 3px rgb(68, 121, 235);
  transition: box-shadow 0.4s ease;
}
