<%- include('includes/head') %>
  <body>
    <div class="box-tempo">
      <input type="text" placeholder="Buscar cidade" id="buscar-cidade" />

      <h3><i class="fa-solid fa-map-pin fa-2xl"></i><span id="cidade">São Paulo</span></h3>

      <h4><i class="fa-solid fa-temperature-high fa-2xl"></i><span id="temperatura"></span>°C</h4>

      <div class="data-hora">
        <p id="dia"></p>
        <p id="hora"></p>
      </div>
      
      <p><i class="fa-solid fa-cloud-showers-heavy fa-2xl"></i>Chuva: <span id="chuva"></span>%</p>

      <p><i class="fa-solid fa-droplet fa-xl"></i>Umidade: <span id="umidade"></span>%</p>

      <p><i class="fa-solid fa-wind fa-2xl"></i>Vento: <span id="vento"></span>km/h</p>

    </div>
  </body>
</html>
