<%- include('includes/head') %>
  <body>
    <div class="box-tempo">
      <input type="text" placeholder="Buscar cidade" id="buscar-cidade" />

      <h3><i class="fa-solid fa-map-pin fa-2xl" style="color: rgb(241, 88, 88);"></i><span id="cidade"></span></h3>

      <div class="data-hora">
        <p id="dia"></p>
        <p id="hora"></p>
      </div>

      <h4><i class="fa-solid fa-temperature-high fa-2xl" style="color: rgb(255, 141, 141);"></i><span id="temperatura"></span></h4>
      
      <p><i class="fa-solid fa-cloud-showers-heavy fa-2xl" style="color: rgb(114, 114, 114);"></i><span class="info-clima">Chuva: </span><span id="chuva"></span></p>

      <p><i class="fa-solid fa-droplet fa-xl" style="color: rgb(114, 174, 241);"></i><span class="info-clima">Umidade: </span><span id="umidade"></span></p>

      <p><i class="fa-solid fa-wind fa-2xl" style="color: rgb(180, 209, 241);"></i><span class="info-clima">Vento: </span><span id="vento"></span></p>

    </div>
  </body>
</html>
