<%- include('includes/head') %>
  <body>
    <div class="box-tempo">
      <input type="text" placeholder="Buscar cidade" id="buscar-cidade" />
      <h3 id="cidade">São Paulo</h3>
      <h4 id="temperatura">27°C</h4>
      <p id="dia">quinta-feira, <span id="hora">16:00</span></p>
      <p id="chuva">Chuva: 20%</p>
      <p id="umidade">Umidade: 14%</p>
      <p id="vento">Vento: 17km/h</p>
    </div>
  </body>
</html>
