<%- include('includes/head') %>
  <body>
    <div class="box-tempo">
      <input type="text" placeholder="Buscar cidade" id="buscar-cidade" />

      <h3 id="cidade">São Paulo</h3>

      <h4><span id="temperatura"></span>°C</h4>

      <div class="data-hora">
        <p id="dia"></p>
        <p id="hora"></p>
      </div>
      
      <p>Chuva: <span id="chuva"></span>%</p>

      <p>Umidade: <span id="umidade"></span>%</p>

      <p>Vento: <span id="vento"></span>km/h</p>

    </div>
  </body>
</html>
